
.drpgrp{
  //background-color: #f5f5f5;
  border-radius: 0px;
  //border: 1px solid #ddd !important;
  margin-right: 5px;
  //max-width: 45px;
  //padding: 5px 10px;
  //color: #929292 !important;
}

.drpgrp button{
  border-radius: 0px;
  color: #417cb9;
    background-color: #ffffff;
    border-color: #ffffff;
}

/*
.btn-toogle-bar:focus{
  border: #417cb9 !important;

}

.btn-toogle-bar .down-toggle:hover{
  margin-right: 5px;
  width: 45px;
  padding: 5px 10px;
}

.btn-toogle-bar:hover{
  border: #417cb9 !important;
  color: #417cb9 !important;
  background-color: #f5f5f5;
};
*/